@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <img src="https://img.freepik.com/free-vector/oops-404-error-with-broken-robot-concept-illustration_114360-5529.jpg?w=630" />
  <span style="margin-right:20px;font-size:30px ">You should login to continue</span> 
  <button class="btn btn-dark" >
        <a href="~/Authentication/Login">Login</a>
  </button>
</div>